*{
	margin:0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
header{
	
}
nav{
	overflow: hidden;
	background: #0e918c;
	padding: 0px 5%;
}
.logo{
	width: 40%;
	float: left;
	padding-top:15px; 
}
.logo a{
	font-size: 30px;
	color: red;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;

}
nav ul{
	width: 50%;
	float: right;
}
nav ul li{
	display: inline-block;
	padding: 20px 20px;
	transition: ease .4s;
}
nav ul li a{
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	font-weight: 600;
	
}
nav ul li:hover{
	background: #01c5c4;
}
.banner{
	background: url(../images/bg3.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	padding: 100px 0;

}
.banner h1{
	font-size: 40px;
	color: #fff;
	font-weight: 600;
	padding: 20px 50px;
	text-transform: uppercase;

}
.banner p{
	font-size: 20px;
	padding: 30px 200px;
	color: #fff;
	margin-bottom: 30px;
}
.banner a{
	font-size: 20px;
	padding: 10px 30px;
	color: #fff;
	background:#01c5c4; 
	border-radius: 5px;
	text-decoration: none;

}
.banner a:hover{
	background-color:#0E918C;
}

/*about section start*/
#about{
	background: #F1F6F9;
}
.about_heading h2{
	font-size: 30px;
	color: blue;
	text-align: center;
	text-transform: uppercase;
	padding-top: 50px;
	margin-bottom: 20px;
}
.about_wrapper{
	overflow: hidden;
	padding: 50px 20px;
	text-align: center;
}
.about_left{
	width: 42%;
	float: left;

}
.about_right{
	width: 42%;
	float: right;
}
.about_left,.about_right{
	background-color: #8BCDCD;
	padding: 30px 30px;
	margin: 0 20px;
}
.about_left h3,.about_right h3{
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 20px;

}
.about_left p,.about_right p{
	font-size: 20px;
	letter-spacing: 1px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 30px;
	
}
.about_left a,.about_right a{
	font-size: 20px;
	text-transform: capitalize;
	color: #fff;
	background-color: #01c5c4; 
	padding: 10px 30px;
	text-decoration: none;
	border-radius: 5px;
}
.about_left a:hover,.about_right a:hover{
	background-color:#0E918C;
}

/*services section start*/
#services{
	text-align: center;
	background:linear-gradient(rgba(28,43,45,.7),rgba(28,43,45,.7))
	,url(../images/bg2.jpg)
	 no-repeat;
	background-size: cover;
	background-position: center; 
	padding: 50px 0;

}

.services-heading h2{
	font-size: 30px;
	color: red;
	text-align: center;
	text-transform: uppercase;
	padding-top: 50px;
	margin-bottom: 20px;
}
.services-wrapper{
	overflow: hidden;
}
.services-items{
	width: 30%;
	float: left;
	padding-bottom: 30px;
	margin: 40px 20px;
	border: 2px solid red;
}
.services-items h3{
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-top: 20px;
}
.services-items p{
	font-size: 20px;
	letter-spacing: 1px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 30px;
}
.services-items a{
	font-size: 20px;
	text-transform: capitalize;
	color: #fff;
	background-color: #01c5c4; 
	padding: 10px 30px;
	text-decoration: none;
	border-radius: 5px;
	margin-bottom: 30px;
}
/*blog section start*/
#blog{
	padding:100px 50px;
	padding-bottom: 500px;
	background-color: #EBEBEB;
}
.blog-img{
	width: 30%;
	float: left;
}
.blog-wrapper img{
	width: 300px;
	height: 400px;
	margin-left: 30px;
	
}
.blog-content{
	width: 60%;
	float: right;
	padding: 0 50px;
	border: 2px solid green;
}
.blog-content h3{
	font-size: 25px;
	color: #green;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-top: 20px;
}
.blog-content p{
	font-size: 20px;
	letter-spacing: 1px;
	color: #000;
	text-transform: capitalize;
	margin-bottom: 30px;
	line-height: 180%;
}
/*contact section*/
#contact{
	background-color: #fff;
}
.contact-wrapper{
	overflow: hidden;
}
.member {
	background-color: #DB6400;
	padding: 30px 0px;
	width: 22%;
	float: left;
	text-align: center;
	margin: 50px 20px;
	border-radius: 10px;
}
.member img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 5px solid #F05454;
}
.member h3{
 	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-top: 20px;
 }
.member ul{
 	text-align: left;
 	padding-left: 30px;

 }
.member ul li{
	list-style-type:none;
	padding: 10px 0;

  }
.member ul li a{
  	color: #fff;
  	text-decoration: none;
  	text-transform: capitalize;
  	font-size: 20px;

  }
/* footer section */
#footer{
	background-color: #214252;
	padding: 30px 0;
}
.footer-wrapper p{
	text-align: center;
	font-size: 20px;
	color: #fff;
	text-transform:capitalize;
}  
/* The end*/